#footer{
    /*height: 30rem;*/
    background: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    color: white;
    gap: 1rem;
}

#footer .vertical-line{
    height: 100%;
    background: whitesmoke;
    width: 0.1rem;
}

#footer .section-1{
    display: flex;
    height: 80%;
    gap: calc(min(3rem, 5%));
    width: 100%;
    max-width: 1200px;
    justify-content: center;
}

.find-us-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

.map-responsive{
    overflow: hidden;
}

.map-responsive iframe{
    border: 0;
    max-width: 25rem;
}

.contact-section{
    display: flex;
    gap: 1rem;
}

#contacts{
    width: 100%;
}

#contacts .person-contact{
    margin-bottom: 0.25rem;
}

#contacts .person-contact a{
    color: white;
    text-decoration: none;
    transition: all 200ms ease-out;
}
#contacts .person-contact a:hover{
    color: red;
    text-decoration: underline;
}

#contacts .address{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#contacts .address>div{
    display: flex;
    gap: 0.5rem;
    /*align-items: center;*/
    /*justify-content: center;*/
}
#contacts .address>div>a{
    color: white;
    text-decoration: none;
}
#contacts .address>div>a:hover{
    color: red;
}

#contacts .address>div>svg{
    margin-top: 0.2rem;
    transition: all 300ms ease-out;
}
#contacts .address>div>svg:hover{
    color: red;
}



@media screen and (max-width: 820px){

    #footer{
        /*height: 60rem;*/
    }
    .section-1{
        flex-direction: column;
    }

    .find-us-section{
        /*padding-bottom: 56.25%;*/
    }

    .map-responsive-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .contact-us-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 820px){
    .person-contact{
        text-align: center;
    }
}

#footer .section-2{
    border-top: 1px solid rgb(128, 128, 128);
    /*height: 20px;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
    flex-wrap: wrap;
}

#footer .section-2 a{
    color: rgb(128, 128, 128);
    text-decoration: none;
}


#footer .section-3{
    color: rgb(128, 128, 128);
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
#footer .section-3 a{
    color: inherit;
    transition: color 250ms ease-in;
}

#footer .section-3 a:hover{
    color: red;
}

@media screen and (max-width: 615px) {
    #footer .section-3{
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
}
