.heading-1{
    font-size: 2.3rem;
    color: white;
    position: relative;
}

.heading-1::before{
    content: "";
    position: absolute;
    height: 7px;
    width: 100%;
    background: red;
    /*margin-top: 54px;*/
    left: 0;
    top: 110%;
}

.heading-2{
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.heading-2 hr{
    width: 100%;
    height: 0.3rem;
    background: rgba(255, 0, 0, 1);
    border: none;
    transition: all 300ms ease;
}

@media screen and (max-width:642px) {
    .heading-2{
        font-size: 2.5rem;
        text-align: center;
    }
}
@media screen and (max-width:400px) {
    .heading-2{
        font-size: 2.3rem;
        text-align: center;
    }
}
